@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a{
  text-decoration: none;
}
.gallery{
  width:100%;
  height:100vh;
 
}
h1{
  text-align: center;
  margin: 50px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
img{
  display: block;
  max-width: 100%;
}
.gallery-wrapper{
  width:90%;
  margin:100px auto;
  padding:0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 250px;
  grid-gap:20px;
 
}
.gallery-image-1{
  background-image: url('img/gallery-img-1.jpg');

}
.gallery-image-2{
  background-image: url('img/gallery-img-2.jpg');

}
.gallery-image-3{
  background-image: url('img/gallery-img-3.jpg');
 
}
.gallery-image-4{
  background-image: url('img/gallery-img-4.jpg');
 
}
.gallery-image-5{
  background-image: url('img/gallery-img-5.jpg');
 
}
.gallery-image-6{
  background-image: url('img/gallery-img-6.jpg');

}
.gallery-image-7{
  background-image: url('img/gallery-img-7.jpg');
 
}

.gallery-body{
  /* height: auto; */
  cursor: pointer;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left:25px;
  padding-bottom:30px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.overlay{
 position: absolute;
 top:0;
 left:0;
 width: 100%;
 height: 100%;
 background: rgba(0,0,0,0.3);
 opacity: 0;
 -webkit-transition: all .4s ease-in-out;
 -o-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
.gallery-body:hover .overlay{
  opacity: 1;
}
.gallery-body a{
  color:white;
  font-size: 1.2rem;
  position: relative;
  width:100px;
  height:120px;
}

@media (min-width:695px){
  .gallery-wrapper{
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(30vh,auto);
   
  }

  .gallery-image-1,
  .gallery-image-4,
  .gallery-image-7 {
    grid-column-end: span 2;
  }

}

@media (min-width:999px){
   
    .gallery-wrapper {
      grid-template-columns: repeat(4,1fr);
    }
  .gallery-image-1 {
    grid-row-end: span 2;

  }
  
  .gallery-link:after{
    -webkit-box-shadow: 0px 30px 70px rgba(0,0,0,.25);
            box-shadow: 0px 30px 70px rgba(0,0,0,.25);
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -4px;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    opacity:0;
    transition: all .4s ease-in-out .2s;
    -webkit-transition: all .4s ease-in-out .2s;
    -moz-transition: all .4s ease-in-out .2s;
    -ms-transition: all .4s ease-in-out .2s;
    -o-transition: all .4s ease-in-out .2s;
}
  .gallery-body:hover .gallery-link:after{
    opacity: 1;
  }
}
